@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

@keyframes presentation-screen-label-1 {
    from {
        transform: translateY(40px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes presentation-screen-label-2 {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes presentation-screen-image {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes right-to-left {
    from {
        opacity: 0;
        transform: translateX(35px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: auto;
    font-family: "Lexend Deca", sans-serif;
}

body {
    width: 100%;
}

.presentation-screen {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    transition: height 1s ease;
}

.presentation-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 100%;
    width: 100%;
}

.presentation-screen-image {
    max-width: 15%;
    height: auto;
    animation: presentation-screen-image ease 1.5s forwards;
}

.presentation-screen-text {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 700;
    line-height: 0.75em;
    text-transform: uppercase;
    color: #212121;
}

.presentation-screen-label-1 {
    max-height: 1em;
    overflow: hidden;
}

.presentation-screen-label-1 label {
    display: block;
    animation: presentation-screen-label-1 2s ease forwards;
}

.presentation-screen-label-2 {
    max-height: 1em;
    overflow: hidden;
}

.presentation-screen-label-2 label {
    display: block;
    animation: presentation-screen-label-2 2s ease forwards;
}

.presentation-screen-label-3 label {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2.5px;
    margin: 0.5em 0;
    animation: right-to-left 2.5s ease forwards;
}

.portfolio-container {
    position: absolute;
    top: 0;
    background-color: #171717;
    height: 0vh;
    width: 100%;
    transition: height 1.5s ease;
    overflow: hidden;
}

/* header */
.header {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 2;
}

.header-container {
    height: 100%;
    width: 85%;
    /* border: 1px solid red; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1.5em 0;
    font-size: 1.1rem;
}

.header-menu-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-ul {
    list-style: none;
}

.header-menu-ul li {
    float: left;
    padding: 0 1.25em;
}

.header-second-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-second-text-container {
    font-size: 2rem;
    position: relative;
}

.header-second-text-label {
    font-size: 1.5rem;
    color: #00df5e;
}

.header-second-text-special {
    color: #00df5e;
}

.header-second-text-buttons-container {
    margin: 1em 0;
}

.header-button-1 {
    margin-right: 0.5em;
    text-decoration: none;
    background-color: #00df5e;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.8em 1.5em;
    color: #171717;
    transition: all 0.25s ease;
}

.header-button-2 {
    text-decoration: none;
    background: none;
    border: 1px solid #828282;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.8em 1.5em;
    color: #f9f9f9;
}

.aboutme-section-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #171717;
    padding: 4em 0;
}

.sections-titles {
    color: #f9f9f9;
    font-size: 2.5rem;
    font-weight: 600;
}

.aboutme-text-container {
    width: 65%;
}

.sections-text {
    color: #828282;
    text-align: center;
    line-height: 1.5em;
    width: 100%;
    padding: 2em 0;
}

.aboutme-text-anchor {
    color: #828282;
    width: 100%;
    text-decoration: none;
    margin-top: 1em;
}

.aboutme-assets-container {
    width: 100%;
    height: auto;
    color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 3em;
}

.aboutme-assets-item {
    width: 100%;
    padding: 2em 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    position: relative;
    min-width: 25%;
    word-wrap: break-word;
}

.aboutme-icons {
    position: absolute;
    top: 44px;
    max-width: 40px;
}

.aboutme-header {
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
}

.projects-section-container {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3em 0;
    /* border: 1px solid red; */
}

.projects-text-container {
    width: 65%;
    margin: 1em 0;
}

.projects-content-container {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 30%;
    margin: 0 2%;
}

.project-image-container {
    width: 100%;
    height: 50%;
    border-radius: 5px;
    /* filter: opacity(0.6); */
    overflow: hidden;
    transition: transform 0.5s ease;
}

.project-image {
    height: 100%;
    transform: translateX(-40px);
}

.project-image-container:hover {
    transform: translateY(-10px);
}

.project-name {
    color: #f9f9f9;
    padding: 0.75em 0;
}

.project-description {
    color: #828282;
    text-align: center;
    padding: 0.25em 0;
}

.project-buttons {
    margin: 2em 0;
}

.project-button-preview {
    color: #171717;
    background-color: #00df5e;
    padding: 0.6em 1.8em;
}

.project-button-github {
    color: #171717;
    background: none;
    border: 1px solid #828282;
    color: #f9f9f9;
    padding: 0.6em 1.8em;
}

.services-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 4em 0;
}

.service-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 225px;
    width: 30%;
    background-color: #212121;
    border-bottom: 3px solid #00df5e;
    border-radius: 5px;
    padding: 2em;
}

.service-items-general-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.service-item-title-container {
    width: 50%;
    border: 1px solid red;
}

.service-item-title {
    font-size: 1.8rem;
    font-weight: 500;
    color: #828282;
}

.myskills-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    border: 1px solid red;
}

.skills-items-container {
    display: flex;
    flex-direction: row;
    width: auto;
    max-width: 100%;
}

.skill-item {
    height: 150px;
    width: 150px;
    background-color: #212121;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .header-second-text-label-title {
    box-shadow: 1px 20px 0px 10px #00df5e;
} */

.header-second-image-container {
    margin: 0 3em;
    width: 300px;
    height: 400px;
    position: relative;
}

.header-second-image-container:hover::before {
    transform: translateX(-7.5px) translateY(5px);
}

.header-second-image-container:hover .header-second-image {
    filter: grayscale(1);
}

.header-second-image-container::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px solid #00df5e;
    transform: translateX(-15px) translateY(10px);
    transition: all 1.25s ease;
}

.header-second-image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: relative;
    z-index: 2;
    transition: all 1.5s ease;
}

@media screen and (max-width: 599px) {
    html {
        font-size: 12px;
    }

    .presentation-screen-text {
        line-height: 0.8em;
    }

    .presentation-screen-image {
        max-width: 30%;
    }
}
